<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Produccion"
            connectionString="Data Source=.;Initial Catalog=BaseRJJF;Integrated Security=True"
             
            providerName="System.Data.SqlClient" />

      <add name="crudCliente.Properties.Settings.BaseConnectionString"
      connectionString="Data Source=.;Initial Catalog=BaseRJJF;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>